@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.player-info{
  display: grid;
  grid-template-columns: 1fr fill;

  .delays {
    margin-left: 6px;
    color: #9e9e9e;
  }
}

.wrapper{
  margin: 0px 50px;
}

.save-btn{
  background-color: #ffbe00;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  // display: inline-block;
  text-align: end;
  margin-top: 20px;
  right: 0px;
  position: relative;
  border-radius: 8px;
  text-align: end;
  float: right;
  transform: translateX(300px);
  transition: transform 1s;
  cursor: pointer;

  &.active{
    transform: translateX(0px);
  }


}